<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{common.layout.title}">Title</title>

    <link th:href="@{/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/famfamfam-flags.css}" rel="stylesheet"/>
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
    <link th:href="@{/css/avatars.css}" rel="stylesheet"/>
</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">
            <th:block layout:fragment="header">
            </th:block>
        </div>
        <div class="card-body">
            <th:block layout:fragment="content">
            </th:block>
        </div>
    </div>

</div>

<script th:src="@{webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{webjars/jquery-cookie/1.4.1-1/jquery.cookie.js}"></script>
<script th:src="@{webjars/popper.js/1.12.5/dist/umd/popper.min.js}"></script>
<script th:src="@{webjars/popper.js/1.12.5/dist/umd/popper-utils.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.0.0-beta-1/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/jquery-easing/1.3/jquery.easing.min.js}"></script>
<script th:src="@{js/NerdDinner.utilities.js}" type="application/javascript"></script>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>