<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="textInput(fieldName, field, displayName, placeHolder)">
    <label th:text="${displayName}"></label>
    <input
            class="form-control"
            th:type="${type ?: 'Text'}"
            th:classappend="${#fields.hasErrors(fieldName)} ? 'is-invalid':''"
            th:id="${fieldName}"
            th:value="${field}"
            th:name="${fieldName}"
            th:placeholder="${placeHolder}"/>
    <small th:if="${#fields.hasErrors(fieldName)}" th:each="error : ${#fields.errors(fieldName)}" th:text="${error}"
           class="text-danger"/>
</div>
<th:block th:fragment="localeSelector">
    <div class="btn-group btn-block">
        <div class="btn btn-default btn-block custom-select" data-toggle="dropdown">
            <span th:class="${'famfamfam-flag-' + selectedLocale.countryCode.toLowerCase()}"></span>
            <span th:text="${'&nbsp;' + selectedLocale.languageName +'-'+ selectedLocale.countryName}"></span>
        </div>
        <ul class="dropdown-menu list-inline" role="menu">
            <li th:each="locale : ${locales}" class="dropdown-item">
                <a href="#"
                   th:onclick="'window.NerdDinner.setLocale(\'' + ${locale.localeId} + '\')'"
                ><span th:class="${'famfamfam-flag-' + locale.countryCode.toLowerCase()}"
                       class="famfamfam-flag-us"></span><span
                        th:text="${'&nbsp;'+locale.languageName +'-'+locale.countryName}"></span></a>
            </li>
        </ul>
    </div>
</th:block>

</body>
</html>