<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--<div th:fragment="textInput (propertyName, propertyDisplayName, placeHolderText)">
    <label th:text="propertyDisplayName"></label>
    <input th:classappend="${#fields.hasErrors(propertyName)} ? 'is-invalid':''" class="form-control" th:field="*{propertyName}"
           th:attr="placeholder=placeHolderText" type="text"
           placeholder=""/>
    <small th:if="${#fields.hasErrors(propertyName)}" th:errors="*{propertyName}" class="text-danger"/>
</div>-->

<div th:fragment="textInput(fieldName, field, displayName, placeHolder)">
    <label th:text="${displayName}"></label>
    <input
            class="form-control"
            th:type="${type ?: 'Text'}"
            th:classappend="${#fields.hasErrors(fieldName)} ? 'is-invalid':''"
            th:id="${fieldName}"
            th:value="${field}"
            th:name="${fieldName}"
            th:placeholder="${placeHolder}"/>
    <small th:if="${#fields.hasErrors(fieldName)}" th:each="error : ${#fields.errors(fieldName)}" th:text="${error}"
           class="text-danger"/>
</div>

</body>
</html>