<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/layout">
<head>
    <title>Content page 1</title>
</head>
<body>
<ol class="breadcrumb" layout:fragment="breadcrumb">

    <li th:text="#{common.layout.home}" class="breadcrumb-item active">Home</li>
</ol>
<section layout:fragment="content">
    <h1 th:inline="text">Hello [[${nerdProfile.fullName}]]!</h1>
    <p>This is a paragraph from content page 1</p>
</section>
</body>
</html>