<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/minimum">
<head>
    <title>Login</title>
</head>
<body>
<section layout:fragment="content">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form target="/login" method="post">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input class="form-control" id="username" type="text" name="username"
                           placeholder="Enter user name"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" placeholder="Password"/>
                </div>
                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid username or password.
                </div>
                <div class="alert alert-info" th:if="${param.logout}">
                    You have been logged out.
                </div>

                <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>

            <div class="text-center">
                <a class="d-block small mt-3" href="/registerAccount">Register an Account</a>
                <a class="d-block small" href="/forgotPassword">Forgot Password?</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>