<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/layout">
<head>
    <title>Content page 1</title>
</head>
<body>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Home</li>
</ol>
<section layout:fragment="content">
    <h1 th:inline="text">Hello [[${nerdProfile.fullName}]]!</h1>
    <p>This is a paragraph from account phone</p>
</section>
</body>
</html>