<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{forgotPassword.resetPassword.title}">Reset Password</title>
</head>
<body>
<p>
    <span th:text="#{forgotPassword.resetPassword.hello}">Hello</span>&nbsp;<span th:text="${recipientName}"></span>,
</p>
<p th:text="#{forgotPassword.resetPassword.emailReason}">If you are receiving this email that is because you have
    requested to have your password reset at Nerd Dinner.</p>
<p><span th:text="#{forgotPassword.resetPassword.pleaseClick}">Please click</span>
    <a th:href="${resetLink}" th:text="#{forgotPassword.resetPassword.resetLinkText}">here</a> <span
            th:text="#{forgotPassword.resetPassword.resetPhrase}">
        to reset the password to your account.
    </span></p>
<p th:text="#{forgotPassword.resetPassword.contactSupportPhrase}">If you did not request this password reset please
    contact Nerd Dinner support immediately.</p>
</body>
</html>