<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/minimum">
<head>
    <title th:text="#{login.forgotPassword.resetPassword}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header" th:text="#{login.forgotPassword.resetPassword}"></div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4 th:text="#{login.forgotPassword.forgotYourPassword}"></h4>
                <p th:text="#{login.forgotPassword.forgotYourPasswordInstructions}"></p>
            </div>
            <form target="/forgotPassword" method="post">
                <div class="form-group">
                    <input th:attr="placeholder=#{login.forgotPassword.enterEmailAddress}" class="form-control"
                           id="exampleInputEmail1" type="email" aria-describedby="emailHelp"
                           placeholder=""/>
                </div>
                <button class="btn btn-primary btn-block" th:text="#{login.forgotPassword.resetPassword}"
                        type="submit"></button>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/registerAccount"
                   th:text="#{login.forgotPassword.registerAnAccount}"></a>
                <a class="d-block small" th:text="#{login.forgotPassword.loginPage}" href="/login"></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>